@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap');
body{
    background-color: rgba(5, 4, 4, 0.754);
    /* background-color: rgba(161, 235, 161, 0.957); */
}

*{
    margin: 0;
    padding: 0;
}

nav{
   font-family: 'ubantu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}
.spo{
    color: white;
    text-decoration: none;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 70px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.tool-bar{
    height: 30px;
    background-color: black;
    margin-top: 5px;
    color: white;
    display: flex;
    font-size: large;
    border: 10px;
    border-color: black;
    align-items: center;
}
.con{
    height: 565px;
    margin-top: 5px;
    background-color: black;
    width: 170px;
    margin-bottom: 0;
    color: white;
    padding: 5px;

}
.singers{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
    margin: 30px;
    margin-top: 13px;
    margin-bottom: 15px;
    
}
.con2{
    height: 109.9px;
    background-color: black;
    width: 205px;
    margin: 6px;
    color: white;
    margin-bottom: 0;
}
.albums{
    height: 80px;
    width: 190px;
    padding-left: 8px;
    padding-top: 5px;
}
.text{
    margin-left: 10px;
}
.con2:hover{
    background-color:  rgba(77, 73, 73, 0.754);
}
.tool-section{
    background-color:  rgba(56, 53, 53, 0.754);
    width: 80px;
    padding-top: 5px;
    padding-left: 20px;
    height: 20px;
    font-family: 'ubantu', 'sans-serif';
    margin: 10px;
}
.tool-section2{
    background-color:  rgba(56, 53, 53, 0.754);
    width: 150px;
    padding-top: 5px;
    padding-left: 20px;
    height: 20px;
}
.search-icon{
    background-color: rgba(56, 53, 53, 0.754);
    height: 15px;
    width: 20px;
    position: absolute;
    padding-top: 4px;
    padding-left: 5px;
}
.search-icon:hover{
    background-color:  rgba(77, 73, 73, 0.754);
}
.tool-section:hover{
        background-color:  rgba(77, 73, 73, 0.754);
}
.tool-section2:hover{
    background-color:  rgba(77, 73, 73, 0.754);
}
.search{
    background-color:rgba(56, 53, 53, 0.754) ;
    height: 24px;
    width: 300px;
    padding-top: 5px;
    padding-left: 20px;
    border-color:rgba(56, 53, 53, 0.754)  ;
    border: none;
    color: white;
    font-size: large;
    font-family: 'ubantu', 'sans-serif';
    padding-left: 30px;
}
.search:hover{
    background-color:  rgba(77, 73, 73, 0.754);
}
.container{
    min-height: 68vh;
    display: flex;
    margin: 23px auto;
    margin-top: 5px;
    margin-bottom: 6px;
    width: 70%;
    color: white;
    padding: 34px;
    background-image: url("images/girl-with-black-headphone-a09f6yk2y3h937yo.jpg") ;
    background-size: cover;
}
background-image{
    width: 60%;
    height: 20px;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    /* color: rgb(118, 226, 118); */
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songitem{
   height: 40px;
   display: flex;
   background-color: rgba(56, 53, 53, 0.754);
   color: rgb(249, 247, 247);
   width: 100%;
   margin: 12px 0;
   justify-content: space-between;
   align-items: center;
}
.songitem:hover{
        background-color:  rgba(77, 73, 73, 0.754);
}
.timespan{
   margin: 0 23px;
}
.timespan i{
    cursor: pointer;
}
.songitem img{
    margin: 30px 23px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
}
h3{
    padding-left: 30px;
}

.songinfo{
    display: flex;
    position: absolute;
    left: 10vw;
    margin-top: 30px;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songinfo h4{
    justify-content: center;
    margin-top: 18px;
    margin-left: 6px;
}
  @media screen and (max-width:500px){
   
    .container{
       flex-direction: column;
       position: absolute;
       top: 670px;
       width: 215px;
       height: 505px;
       margin: 0;
       font-size: 10px;
    }
    .con{
        display: flex;
        width: 110px;
        height: 565px;
        font-size: small;
        flex-direction: column;
     }
     .con div{
        width: 80px;
        height: 80px;
        display: flex;
        padding: 0;
        padding-right: 10px;
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        padding: 20px 0;
     }
     .singers{
        width: 80px;
        height: 80px;
        display: flex;
     }
    .con2{
        width: 165px;
    }
    .albums{
        width: 150px;
    }
   nav ul li{
       padding-left: 0;
       margin-left: 0;
       
   }
   nav{
       width: 280px;
   }
   .tool-bar{
       width: 280px;
       justify-content:space-around;
       flex-direction: row;
   }
   .tool-section{
       width: 40px;
       font-size: 12px;
       padding-left: 0;
   }
   .tool-section2{
       font-size: 12px;
       width: 95px;
       padding: 0;
       margin: 0;
       height: 17px;
       padding-top: 5px;
       padding-left: 5px;
   }
   .search{
       width: 60px;
       flex-direction: column;
       font-size: 12px;
       padding-left: 0;
   }
   .search-icon {
       display: none;
       width: 0;
       height: 0;
   }
   .tool-bar .search-icon i {
       width: 3px;
       height: 5px;
   }
   header{
       width: 280px;
       height: 600px;
   }
   footer{
       width: 280px;
       margin-top: 648px;
       height: 350px;
   }
   .bottom{
    height: 140px;
    margin-top: 0;
    padding: 0;
    justify-content: start;
   }
   .background{
       display: none;
   }
   .songinfo{
       position: absolute;
       top:60px
   }
   html{
       flex-direction: column;
   }
 }

 @media(min-width:281px) and ( max-width:515px){
   
    .container{
       flex-direction: column;
       position: absolute;
       top: 670px;
       width: 420px;
       height: 440px;
       margin: 0;
       font-size: 10px;
    }
    .con{
        display: flex;
        width: 200px;
        height: 565px;
        font-size: small;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;

     }
     .con div{
        width: 200px;
        height: 80px;
        display: flex;
        padding: 0;
        padding-right: 10px;
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-left: 7px;
        padding: 20px 0;
     }
     .singers{
        width: 100px;
        height: 100px;
        display: flex; 
     }
    .con2{
        width: 265px;
        font-size: large;
    }
    .albums{
        width: 240px;
    }
   nav ul li{
       padding-left: 0;
       margin-left: 0;
       
   }
   nav{
       width: 490px;
   }
   .tool-bar{
       width: 490px;
       justify-content:space-around;
       flex-direction: row;
   }
   .tool-section{
       width: 40px;
       font-size: 12px;
       padding-left: 0;
   }
   .tool-section2{
       font-size: 12px;
       width: 95px;
       padding: 0;
       margin: 0;
       height: 17px;
       padding-top: 5px;
       padding-left: 5px;
   }
   .search{
       width: 60px;
       flex-direction: column;
       font-size: 12px;
       padding-left: 0;
   }
   .search-icon {
       display: none;
       width: 0;
       height: 0;
   }
   .tool-bar .search-icon i {
       width: 3px;
       height: 5px;
   }
   header{
       width: 280px;
       height: 600px;
   }
   footer{
       width: 490px;
       margin-top: 790px;
       height: 350px;
   }
   .bottom{
    height: 140px;
    margin-top: 0;
    padding: 0;
    justify-content: start;
   }
   .background{
       display: none;
   }
   .songinfo{
       position: absolute;
       top:60px
   }
   html{
       flex-direction: column;
   }
 }